<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeakestLink_GameShow_Vb.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WeakestLink_GameShow_Vb.My.MySettings>
            <setting name="casparHostName" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="casparPort" serializeAs="String">
                <value>5250</value>
            </setting>
            <setting name="moneyTreeFlashTempl" serializeAs="String">
                <value>weakestLink/WeakestLink_v2</value>
            </setting>
            <setting name="headToHeadmoneyTreeFlashTempl" serializeAs="String">
                <value>weakestLink/WeakestLinkFinal_v1</value>
            </setting>
            <setting name="DatabaseType" serializeAs="String">
                <value>Mock</value>
            </setting>
        </WeakestLink_GameShow_Vb.My.MySettings>
    </userSettings>
</configuration>